<h3>Update Site Details</h3>
<%= form_with model: @site do |form| %>
  <%= form.text_field :reference_site, placeholder: "Reference du site" %>
  <%= form.text_field :nom, placeholder: "Nom de l'immeuble" %>
  <%= form.text_field :address_line1, placeholder: "Adresse" %>
  <%= form.text_field :zipcode, placeholder: "Code Postal" %>
  <%= form.text_field :city, placeholder: "Ville" %>

  <%= form.submit %>
<% end %>
